
* text=auto eol=lf

*.sh text eol=lf
bin/* text eol=lf


db/schema.rb linguist-generated


vendor/* linguist-vendored


config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.gz binary
*.svg binary
*.woff binary
*.woff2 binary
*.ttf binary


*.rb text eol=lf


*.erb text eol=lf
*.html text eol=lf
*.haml text eol=lf

*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf


*.css text eol=lf
*.scss text eol=lf
*.sass text eol=lf


*.js text eol=lf
*.ts text eol=lf
*.jsx text eol=lf
*.tsx text eol=lf

Gemfile.lock -diff
yarn.lock -diff
package-lock.json -diff
